<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Satoko Blog</title>
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png" />
  <meta charset="utf-8">
  <!-- ===== BOOTSTRAP ===== -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- ===== FONTS ===== -->
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
  <div style="position: sticky; top: 0; z-index: 999;">
    <nav class="navbar ">
      <div style="text-align: center; font-weight: bold; font-size: large; display: inline-flex;">
        <a class="nav-link" href="/">SYMPLE LIFE BLOG</a>
        <img src="/images/blogLogo.png" alt="logo" style="height: 35px;  padding-top: .5rem;">
      </div>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item" id="about">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item" id="contact">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- <body style="background-color: #f195bd;"> -->

<body>
  <div>