<%- include("partials/header"); -%>
<div class="container">
    <div class="text-content">
        <h1>About</h1>
        <p> <%= about1 %> </p>
        <h3>I AM</h3>
        <p> <%= about2 %> </p>
    </div>
</div>
<%- include("partials/footer"); -%>