<%- include("partials/header"); -%>
<div class="container">
    <div class="text-content">
        <h1>About</h1>
        <p> <%= aboutContent %> </p>
    </div>
</div>
<%- include("partials/footer"); -%>