<%- include("partials/header"); -%>
<div class="container">
    <div class="text-content">
        <h1>Contact</h1>
        <!-- <p>  contactContent  </p> -->
        <br>
        <p>Drop me a line:</p>
        <p>Email: satoko.wakasa.2020@gmail.com</p>
        <p></p>
    </div>
</div>
<%- include("partials/footer"); -%>