<%- include("partials/header"); -%>
<div class="container">
    <div class="text-content">
        <h2><%=title%></h2>
        <p><%=content%></p>
    </div>
</div>
<%- include("partials/footer"); -%>